
/* ==== MiddMusic Stuff ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #336796;cursor: pointer; }
a:hover { color: #036; }

/*

*/

/* General */
html,body,#container {
	font-family: "Helvetica Neue", sans-serif;
}
.center {
	text-align: center;
}
.clear {
	clear: both;
}
.right {
	float: right;
}
.left {
	float: left;
}
.button {
	color: #444;
	background: #ddd;
	display: inline-block;
	padding: 5px;
	font-size: 17px;
	cursor: pointer;
	text-align: center;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border-left: 2pt solid #ddd;
	border-top: 2pt solid #ddd;
	border-right: 2pt solid #9A9A9A;
	border-bottom: 2pt solid #9A9A9A;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.button:hover {
	background: #336796;
	color: #fff;
}
.button:active {
  border-left: 2pt solid #9A9A9A;
  border-top: 2pt solid #9A9A9A;
  border-right: 2pt solid #ddd;
  border-bottom: 2pt solid #ddd;
}
.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
/*Front Page Styles*/ 
header#fp-header {
	height: 220px;
	text-align: center;
	font-size: 35px;
}
#fp-header-text {
	margin: 80px;
}
#fp-main {
	background: #336796;
	height: 300px;
}
#fp-main section {
	margin: 0 auto;
	width: 900px;
	height: 300px;
	color: #fff;
}
#fp-logobar {
	height: 50px;
	margin: 0 auto;
	width: 900px;
}
#fp-logo {
	margin: 0 80px 0 0;
	height: 50px;
	float: right;
	background: #336796 url('/img/mmuweb.gif') no-repeat center bottom;
	display: block;
	width: 165px;
}
#fp-login {
	width: 450px;
	height: 300px;
	float: left;
}
#fp-signup {
	width: 450px;
	height: 300px;
	float: left;
}
#fp-loginbox, #fp-signupbox {
	margin: 50px 0 0 0;
	float: left; 
	width: 250px;
	line-height: 20px;
}
#fp-loginline, #fp-signupline {
	margin: 65px 0 0 0;
	font-size: 20px;
	height: 25px;
	width: 200px;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	float: left;
	border-bottom: 2pt solid #fff;
}
.fp-links {
	margin: 40px 0;
}
a.fp-content-link {
	text-decoration: none;
	font-size: 20px;
	color: #FFF;
	display: block;
	padding: 10px 0;
}
a.fp-content-link:hover {
	color: #F3297A;
}

/* Other Page Stuff */
#header {
	height: 50px;
	width: 100%;
	background: #336796;
}
#inner-header {
	width: 900px;
	margin: 0 auto;
}
#main {
	width: 900px;
	margin: 0 auto;
	border-bottom: 1pt solid #ddd;
	border-right: 1pt solid #ddd;
	border-left: 1pt solid #ddd;
	min-height: 500px;
}
#main-content {
	float: right;
	width: 610px;
	padding: 20px;
	min-height: 500px;
}
#h-logo {
	background: url('/img/mmuweb.gif') no-repeat center center;
	height: 50px;
	width: 160px;
	display: block;
}
#h-logo:hover {
	background: url('/img/mmuweb-grey.gif') no-repeat center center;
}
#nav-bar {
	float: right;
	padding: 0 10px;
}
#nav-bar a {
	border-left: 1pt solid #fff;
	float: right;
	display: block;
	font-size: 15px;
	padding: 15px 10px;
	text-decoration: none;
	color: #FFF;
}
#nav-bar a:hover {
	background: #4478a7;
}
#nav-bar a.selected {
	background: #4478a7;
}
#sidebar {
	float: left;
	width: 250px;
	background: #ddd;
	min-height: 700px;	
}
#sidebar a {
	text-decoration: none;
}
.sidebar-widget {
	padding: 10px;
}
.sidebar-widget-content {
	padding: 5px;
	font-size: 13px;
}
.sidebar-act {
	display: block;
	margin: 5px 0;
}
.sidebar-child {
	display: block;
	margin: 0;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-out;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .25s;
	-webkit-transition-timing-function: ease-out;
	-o-transition-property: background-color;
	-o-transition-duration: .25s;
	-o-transition-timing-function: ease-out;
}
.sidebar-child:hover {
	background: #bbb;
}
.sidebar-act-members {
	margin: 0 0 0 10px;
	border-left: 1pt solid black;
	padding: 4px;
}
.sidebar-title {
  margin: 5px;
  font-size: 16px;
}
#search-form input#s {
  margin: 5px 0;
  background:#fff url(/img/search.png) no-repeat 5px 6px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  height: 22px;
  line-height: 1.2em;
  padding: 4px 10px 4px 28px;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
	width: 72px;
}
#search-form input#s:focus {
    background-color: #f9f9f9;
    width: 190px;
}

/* Profile Stuff */
.section-title {
	font-size: 18px;
	border-bottom: 1pt solid #ddd;
}
/* Messages */
.message {
	margin: 10px 0;
	font-size: 15px;
}
.message a {
	text-decoration: none;
}
.msgto, .msgfrom {
	font-size: 17px;
}
.msgsent {
	float: right;
	color: #888;
}
.compose-element {
	display: block;
	margin: 15px 0;
}
/* Calendar */
#main-loading {
	padding: 200px 289px;
}
#month-nav {
	float: right;
}
.month-nav {
	display: inline-block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	cursor: pointer;
	text-align: center;
  -moz-border-radius: 2px;
  border-radius: 2px;
  
  border-left: 2pt solid #eee;
  border-top: 2pt solid #eee;
  border-right: 2pt solid #9A9A9A;
  border-bottom: 2pt solid #9A9A9A;
}
.month-nav:hover {
	background: #336796;
	color: #fff;
}
.month-nav:active {
  border-left: 2pt solid #9A9A9A;
  border-top: 2pt solid #9A9A9A;
  border-right: 2pt solid #eee;
  border-bottom: 2pt solid #eee;
}
.month-name {
	font-size: 16px;
}
.month {
	width: 609px;
	padding: 0;
	margin: 30px 0;
	border: 1pt solid #444;
}
.week {
	padding: 0;
	margin: 0;
}
.day {
	float: left;
	width:85px;
	border: 1pt solid #444;
	height: 100px;
	margin: 0;
}
.dayno {
	float: right;
	padding: 4px;
}
.wrongday {
	background: #aaa;
}
.today {
	background: #ffa;
}
/* Directory */
.search-result {
	display: block;
	padding: 5px;
	background-color: #fff;
	text-decoration: none;
	transition-property: background-color;
	transition-duration: .25s;
	transition-timing-function: ease-out;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .25s;
	-webkit-transition-timing-function: ease-out;
	-o-transition-property: background-color;
	-o-transition-duration: .25s;
	-o-transition-timing-function: ease-out;
}
.search-result:nth-child(even) {
	background-color: #ddd;
}
.search-result:hover {
	background-color: #bbb;
}
#results {
	margin: 10px 0;
}
/* User Profile */
#user-profile {

}
#class {
	font-size: 16px;
	margin: 5px 0;
}
#info {
	margin: 10px 0;
}
.user-inst {
	margin: 5px 0;
}
/* Edit Profile */
#sidebar-loading {
	padding: 50px 50px;
}
#edit-form label {
	display: block;
	margin: 15px 0;
}
#profilepic {
	border: 1pt solid #444;
}
#inst-search-results {
	display: none;
	margin-top: -5px;
	background: #fff;
	position: absolute;
	z-index: 2;
	width: 220px;
	border: 1pt solid #444;
}
.inst-result {
	padding: 5px;
	font-size: 14px;
	display: block;
}
.inst-result.selected {
	background: #ddd;
}
.instrument {
	display: block;
	padding: 5px 0;
}
.instrument:hover {
	background: #eee;
}
.instrument a {
	padding: 0px 5px;
}
.delete-inst {
	float: right;
	display: block;
}
.delete-inst:hover {
	color: red;
}
/* Other Stuff */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}