/***************************************************************************
 * Middlebury Music United 
 * This code is proprietary and property of William S. Potter.
 * It has been licensed for use to Middlebury College in this installation.
 * Use of this code requires consent from William S. Potter
 * wp@punkypond.com
 ***************************************************************************/
/* hex colors #336699 background #000033 m #660000 m #990000 u */
@font-face {
    font-family: 'PerspectiveSans';
    src: url('fonts/persans-webfont.eot');
	src: url('fonts/persans-webfont.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PerspectiveSans';
    src: url('fonts/persansb-webfont.eot');
    src: url('fonts/persansb-webfont.ttf');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'PerspectiveSans';
    src: url('fonts/persansi-webfont.eot');
	src: url('fonts/persansi-webfont.ttf');
    font-weight: normal;
    font-style: italic;

}
html {
	font-family: 'PerspectiveSans', sans-serif;
	color: #111;
	background-color: #369;
	font-size: 17px;
}
a {	
	color: #111;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 { text-align: center;}
h5 { line-height: 15px; }
li { line-height: 25px; width:auto;}
hr {color:#888;background-color:#888;height:2px;border:0;}

#login {
	color: #111;
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 38px;
	background: #ddd;
	text-align: left;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#888888));
	background-image: -moz-linear-gradient(90deg,#888888, #eeeeee);
}
#login a{
	color: #111;
	text-decoration: none;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#888888));
	background-image: -moz-linear-gradient(90deg,#888888, #eeeeee);
	padding: 8px;
	padding-left: 12px;
	padding-right: 12px;
	-moz-border-radius:6px; /* Firefox */
	border-radius:6px;
}
#login a:active, #login a:hover{
	background: #ddd;
	border: 1pt solid #111;
	padding: 7px;
	padding-left: 11px;
	padding-right: 11px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#eeeeee));
	background-image: -moz-linear-gradient(90deg,#eeeeee, #888888);
} 
#rightlinks {
	float: right;
	padding: 8px;
	padding-right: 20px;
	vertical-align: middle;
}
#navbar {
	float: left;
	vertical-align: middle;
	padding: 8px;
	padding-left: 20px;	
}
#navbar img{
	vertical-align: middle;
}
input[type="submit"], input[type="button"], button {
	font-family: 'PerspectiveSans';
	font-size: 14px;
	padding: 5px;
	background: #aaa;
	border:1px solid #003;
	-moz-border-radius:4px; /* Firefox */
	border-radius:4px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#888888));
	background-image: -moz-linear-gradient(90deg,#888888, #dddddd);
	
} 
input[type="submit"]:active, input[type="button"]:active, button:active {
	background: #ddd;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#dddddd));
	background-image: -moz-linear-gradient(90deg,#dddddd, #888888);
} 
input[type="text"], input[type="password"], textarea {
	font-family: 'PerspectiveSans';
	font-size: 12px;
	background: #eee;
	border:1px solid #00a;
	-moz-border-radius:4px; /* Firefox */
	border-radius:4px;
}
input[readonly="readonly"] {
	background: #daa;
}
#login table {
	float: right;
	padding-right: 40px;
}
#wrapper { 
	width: 750px;
	margin: 0 auto;
	text-align: center;
	background: #ddd;
}

#header {
	padding-top: 30px;
	height: auto;
	border-bottom: 2pt solid #888;
	background: #369;
	text-align: left;
}
#content {
	border: 2pt solid #888;
	min-height: 800px;
}
#mainbody {
	text-align: left;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
#footer {
	padding: 10px;
	text-align: center;
	font-size: 8pt;
	color: #330000;
}

/* Profile Elements */
#infobox {
	background-color: #eee;
	border: 2pt solid #888;
	width: 320px;
	min-height: 90px;
	float: left;
	text-align: left;
	padding: 10px;
}
#infobox a:hover {
	text-decoration: underline;
}
#profilepic {
	padding: 7px;
	background-color: #eee;
	border: 2pt solid #888;
	width: 300px;
	text-align: center;
	float: right;
}
#profilepic img {
	max-width: 292px;
	vertical-align: middle;
	text-align: center;
}
/* Directory Elements */
#dirnames {
	border: 1pt solid #888;
}
.diritem {
	line-height: 30px;
	padding: 5px;
	width: 674px;
	vertical-align: middle;
}
.diritem1 {
	background-color: #fff;
}
.diritem2 {
	background-color: #def;
}
.diritem:hover, .diritem:active {
	background-color: #bbb;
}

/* Calendar Elements */
.today {
	background-color: #fdd;
}
#eventform {
	text-align: left;
	padding: 0px 30px;
	line-height: 30px;
}
#calbody table {
	border: 1pt solid #888;
}
#calbody td, #calbody th {
	border: 1pt solid #888;
}
#calbody td {
	height:100px;
	width:100px;
	text-align: left;
	vertical-align: top;
}
#calbody td:hover {
	background-color: #dfd;
}
.button {
	padding: 3px;
	background: #aaa;
	border:1px solid #369;
	-moz-border-radius:4px; /* Firefox */
	border-radius:4px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#888888));
	background-image: -moz-linear-gradient(90deg,#888888, #dddddd);
}
.button:active {
	background: #ddd;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#dddddd));
	background-image: -moz-linear-gradient(90deg,#dddddd, #888888);
}
.eventdiv {
	text-align: left;
	height: 20px;
	width: inherit;
	border: 1pt solid #888;
	padding: 10px 40px;
}
.eventdiv:hover {
	background: #eee;
}
.eventinfo {
	background: #ddd;
	border: 1pt solid #888;
	text-align: left;
	padding: 15px;
}
.day {
	font-size: 12px;
}

/* Admin Page */
#maincontent {
	padding: 40px;
}
#outerbox { 
	min-height: 500px;
}
#tabrow {
	height: 38px;
	width: inherit;
}
.tab {
	border: 1px solid #888;
	height: 16px;
	width:auto;
	vertical-align: middle;
	float: left;
	padding: 10px;
	background-color: #def; 
	background-image: -moz-linear-gradient(100% 100% 90deg, #888888, #eeeeee);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#888888));
	background-image: -webkit-linear-gradient(#eeeeee, #888888); 
	background-image: -o-linear-gradient(top, #eeeeee, #888888);
}
.tab:hover {
	background-color: #def; 
	background-image: -moz-linear-gradient(100% 100% 90deg, #eeeeee, #888888);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#eeeeee));
	background-image: -webkit-linear-gradient(#888888, #eeeeee); 
	background-image: -o-linear-gradient(top, #888888, #eeeeee);
}
#innerbox {
	text-align: left;
	background: #eee;
	border: 1pt solid #888;
	min-height: 425px;
	width: inherit;
	display: block;
	padding: 20px;
}

#userlisttable td {
	padding: 8px;
}
.userlistname {
	padding-right:20px;
}
.userlistun {
	font-size: 13px;
}
.selected {
	background-color: #def; 
	background-image: -moz-linear-gradient(100% 100% 90deg, #eeeeee, #888888);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#eeeeee));
	background-image: -webkit-linear-gradient(#888888, #eeeeee); 
	background-image: -o-linear-gradient(top, #888888, #eeeeee);
}

#livesearch {
	position: relative;
}
.current{
  background:#3b5998;
  color:#FFFFFF;
}